<% provide(:title, 'About Us') %>
<div class="jumbotron">
      <div class="container" style="height: 450px; display:block; text-align: center; padding-top: 0px;">
        
        <%= link_to image_tag("bartershop_logo.png", alt: "grey", :style => "padding-bottom: 20px; width: 300px;"), '#'%>
        <p style="font-size: 18px; width: 800px; margin: 0 auto;">
        	Cambridge is known to be a very transient city with students coming and leaving every year. We all live in this community and should recognize that we are always in need of little things while at the same time always in need of getting rid of things. MIT has great potential to create a Bartering Community that is built on this type of transaction. MIT's high density of diverse students and staff makes this kind of Bartering system possible. <br>
        	<b>Barter Shop</b> aims to create easy and straightforward transactions with your neighbors so that you can spend all your time <b>Discovering the community around you</b> in a deep and meaningful way. Find out what makes your community tick by creating trustworthy relationships with those that you help and trade with. 
        	This Website was created for MIT's 2014 IAP Web Competition course. <br>Check out the instructions below if you'd like to engage with the website. <em>BarterShop is in its Alpha version so stay tuned to see more exciting features! </em> </p> 

        </div>

    </div>

<%= link_to image_tag("bartershop_pitch.png", alt: "flow"), '#'%>
