<% provide(:title, 'Help') %>
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" style="height: 250px; display:block; text-align: center; padding-top: 50px;">
        
        <%= link_to image_tag("bartershop-logo-05.png", alt: "grey", :style => "padding-bottom: 20px; width: 300px;"), '#'%>
        <p style="font-size: 18px;">BarterShop creates a community space for easy trading with trusted peers. <br><b> Trade skills, services, or goods in just a few steps!</b></p> <br>
        
       </div>
         
    </div>

<%= link_to image_tag("flow.png", alt: "flow"), '#'%>



