<footer class="footer">
  
  <p style="color: #dddddd">&copy; StephAnnie 2014</p>

  <nav>
    <ul>
    	<% if signed_in? %>
    		<li><%= link_to "Contact", contact_path %></li>
    	<% else %>
	      <li><%= link_to "About",   help_path %></li>
	      <li><%= link_to "Contact", contact_path %></li>
	    <% end %>
    </ul>
  </nav>
</footer>